* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0E0E0;
}

/* link styling */
a {
    text-decoration-line: none;
    color: black;
}


/* text properties */
h1,
h2,
h3,
h4,
h5,
p {
    font-family: "roboto", sans-serif;
}

h1 {
    font-size: 90px;
    line-height: 80%;
}

h2 {
    font-size: 60px;
    line-height: 80%;
}

h5 {
    line-height: 100%;
}



/* self brand logo, only appears when not in mobile view */
#logo {
    position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    /* max-width: 46px;
    max-height: 46px; */
    margin-left: 10px;
    margin-top: 1vh;
    border-radius: 100%;
    background-color: black;
}


/* OVERALL PAGE FLOW */
article {
    display: flex;
    flex-wrap: wrap;
}




/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    flex: 100vw;
    /* background-color: red; */

}

/* hamburger icon drawing */
#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 4vw;
}

#line-1 {
    width: 15px;
    height: 3px;
    border-radius: 25px;
    margin: 2px;
    background-color: black;
}

#line-2 {
    width: 15px;
    height: 3px;
    border-radius: 25px;
    margin: 2px;
    background-color: black;
}

.nav-name,
.page-title {
    margin: 1vw 2vw;
}


/* MENU PAGE */

#menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 100vw;
    background-color: black;
    height: 100vh;
}

#menu-page a {
    color: #E0E0E0;
}

#menu-page h2 {
    margin-top: 50px;
    font-size: 40px;
}

/* cancel icon drawing */
#cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 4vw;
    top: 4vw;
}

#cancel-line-1 {
    width: 15px;
    height: 3px;
    border-radius: 25px;
    background-color: #E0E0E0;
    transform: rotate(45deg);
    position: relative;
    top: 3px;
}

#cancel-line-2 {
    width: 15px;
    height: 3px;
    border-radius: 25px;
    background-color: #E0E0E0;
    transform: rotate(-45deg);
}






/* HOME PAGE */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    margin-left: 10px;
    width: 50%;
}

#intro {
    position: relative;
    left: 12px;
}

#break{
    width: 100%;
    height: 1px;
    background-color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 18vh;
    /* background-color: red; */
    position: absolute;
    bottom: 20px;
}

#job-title {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 5px 10px;
    margin-left: 5px;
    /* background-color: aqua; */
}

/* position the social icon links */
#social {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 10px;
}

/* style individual social icon links */
.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #000000;
}






/* WORK PAGE */

/* subtitle styling, education & work */
h2 {
    font-weight: 400;
    font-size: 50px;
}

.year {
    font-weight: bold;
}

/* subtitle positioning */
#edu-title,
#work-title {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 70px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    letter-spacing: -3px;
    /* background-color: aqua; */
}

/* container positioning overall layout for education and work details */
#work-page > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}

/* education section */
#edu {
    color: #E0E0E0;
    background-color: #131313;
}


/* break lines */
.line {
    width: 90%;
    height: 1px;
    margin-bottom: 3px;
}

#line-white {
    background-color: #E0E0E0;
}

#line-black {
    background-color: #131313;
}


/* child container holding individual information about education and work */
.details {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* year positioning */
.year {
    margin-right: 15vw;
}

/* title name and work place positioning */
.name {
    margin-right: 5vw;
}

/* font styling specific to WORK PAGE */
#work-page > section > .details > .name ,
#work-page > section > .details > .year {
    font-size: 11px;
    line-height: 140%;
}

/* resume button link */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    border-radius: 25px;
    width: 80%;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.button h2 {
    font-size: 18px;
    color: #E0E0E0;
}





/* ABOUT PAGE */

/* selecting the article that contains all content of about page and setting the overall flow of page */
/* #about-page section  */
#about-myself,
#art-design,
#health{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    background-color: aqua;
    
}

/* container for about myself section */
#about-myself {
    background-color: blueviolet;
    width: 100vw;
}

/* container for paragraph in about myself section */
#about-para {
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 20px;
}

/* container for paragraphs written in the interests & hobbies section */
.hobby-para {
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 200px;
}

#art-design {
    background-color: #0011ff;
    width: 100vw;
}

#health {
    background-color: #ff00ea;
    width: 100vw;
}

/* text -section label for hobbies and itnerests */
.hobby-label {
    width: 90%;
    background-color: rgb(92, 92, 92);
    height: 40px;
}

#about-title-1 {
    width: 90%;
    background-color: rgb(251, 255, 0);
    height: 80px;
}

/* text - subtitle for overall page */
.about-titles {
    width: 90%;
    background-color: rgb(251, 255, 0);
    height: 80px;
}

/* images */
#health-img,
#art-img {
    width: 90%;
    background-color: rgb(0, 255, 98);
    height: 200px;
}






/* PAGE BREAKS */

/* MOBILE DISPLAY */
@media only screen and (max-width:799px){
    
    /* page label, top right hand corner */
    .page-title {
        font-size: 12px;
    }
    
    .nav-name {
        display: none;
    }

    #logo {
        display: none;
    }



    /* WORK PAGE */
    #edu,
    #work {
        width: 100vw;
    }
    
}


/* TABLET DISPLAY */
@media only screen and (min-width: 800px) {

    .page-title {
        display: none;
    }
    
    h1 {
        font-size: 220px;
    }

    /* removes hamburger icon when no longer in mobile display */
    #hamburger {
        display: none;
    }

    nav {
        justify-content: end;
    }

    .nav-name {
        font-size: 13px;
    }


    /* HOME PAGE - TABLET BREAK */
    h5 {
        font-size: 20px;
        line-height: 100%;
    }

    main {
        height: 75vh;
    }

    /* enlarge the size of icons */
    .social-icon {
        width: 60px;
        height: 60px;
    }


    
    /* WORK PAGE - TABLET BREAK */

    /* paragraph font styling specific to WORK PAGE */
    #work-page > section > .details > .name ,
    #work-page > section > .details > .year {
        font-size: 15px;
        line-height: 140%;
    }

    .line {
        width: 80%;
    }

    /* subtitle, education & work */
    h2 {
        font-size: 70px;
    }

    #edu,
    #work {
        width: 100vw;
    }

    #edu {
        padding-bottom: 20px;
    }

    /* subtitle positioning */
    #edu-title,
    #work-title {
        padding-left: 10vw;
        padding-top: 10px;
        padding-bottom: 60px;
        /* background-color: rgba(127, 255, 212, 0.664); */
    }

    /* year positioning */
    .year {
        margin-right: 10vw;
        margin-left: 5vw;
    }

    .button {
        margin-top: 80px;
    }



    /* ABOUT PAGE - TABLET BREAK */

    #about-para {
        column-count: 2;
    }

    #art-design,
    #health {
        /* flex-direction: row; */
        flex-wrap: wrap;
        height: 400px;
    }

    .hobby-label,
    .about-titles,
    .hobby-para {
        width: 50%;
    }

    #art-img {
        order: 2;
        width: 50%;
        height: 90%;
    }

    #health-img {
        order: -2;
        width: 50%;
        height: 90%;
    }
}



/* DESKTOP DISPLAY */
@media only screen and (min-width: 1100px) {

    /* NAV - DESKTOP BREAK */
    .nav-name {
        font-size: 17px;
    }

    
    /* HOME PAGE - DEKTOP BREAK */
    main {
        position: relative;
        left: 200px;
        height: 80vh;
    }

    #intro {
        position: relative;
        left: 15px;
    }

    h1 {
        font-size: 180px;
    }




    /* WORK PAGE - DESKTOP BREAK */
    

    #edu-title,
    #work-title {
    max-width: 70%;
    padding-left: 0px;
}

    .line {
        max-width: 70%;
    }

    .year {
        margin-right: 6vw;
        margin-left: 0;
    }

    .details {
        max-width: 70%;
        margin-bottom: 35px;
    }

    .button {
        max-width: 70%;
    }





    /* ABOUT PAGE - DESKTOP BREAK */

    /* #about-page section {
        display: flex;
        
        max-width: 60%;
    } */

    #about-myself {
        align-items: flex-start;
        margin-left: 10vw;
    }

    #about-title-1,
    #about-para {
        max-width: 50%;
    }

    

}






/* EXTRA WIDE DEKTOP */
@media only screen and (min-width: 1500px) {
    
    /* NAVIGATION - EXTRA WIDE BREAK */
    /* #logo {
        left: 8vw;
    } */
    
    /* .nav-name {
        position: relative;
        right: 190px;
    } */



    /* HOME PAGE - EXTRA WIDE BREAK */

    /* HOME PAGE - MAIN */
    #my-name {
        display: flex;
        margin-top: 20px;
    }

    #last-name {
        margin-left: 60px;
    }

    /* HOME PAGE - FOOTER */
    /* #job-title {
        position: relative;
        left: 200px;
    } */

    /* #social {
        position: relative;
        right: 200px;
    } */


    /* WORK PAGE - EXTRA WIDE BREAK */
    

     #edu-title,
     #work-title {
     max-width: 45%;
     padding-left: 0px;
     padding-bottom: 80px;
    }
 
     .line {
         max-width: 45%;
     }
 
     .year {
         margin-right: 6vw;
         margin-left: 0;
     }
 
     .details {
         max-width: 45%;
         margin-bottom: 35px;
     }
 
     .button {
         max-width: 45%;
     }

}