* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0E0E0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "roboto", sans-serif;
}

h1 {
    font-size: 90px;
    line-height: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
}

#menu {
    position: relative;
    left: 5px;
}

#line-1 {
    width: 15px;
    height: 3px;
    border-radius: 20%;
    margin: 2vw;
    background-color: black;
    position: relative;
    top: 1px;
}

#line-2 {
    width: 15px;
    height: 3px;
    border-radius: 20%;
    margin: 2vw;
    background-color: black;
    position: relative;
    top: -3px;
}

#nav-home,
#nav-about,
#nav-work,
#nav-blog {
    margin: 1vw 2vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    margin-left: 10px;
    width: 50%;
    /* background-color: aqua; */
}

#intro {
    position: relative;
    left: 15px;
}

#break{
    width: 100%;
    height: 1px;
    background-color: black;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 18vh;
    /* background-color: bisque; */
}

#job-title {
    padding: 10px;
}

#social {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 10px;

}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: black;
}

@media only screen and (max-width:799px){
    #nav-about,
    #nav-work,
    #nav-blog {
        display: none;
    }

    #logo {
        display: none;
    }
    
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 220px;
    }

    #menu {
        display: none;
    }

    nav {
        justify-content: end;
    }

    h5 {
        font-size: 20px;
        line-height: 100%;
    }

    .social-icon {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        position: relative;
        left: 200px;
    }

    footer {
        position: sticky;
    }
}